body{
    padding:50px;
    background-image: url('bg.png');
    background-attachment: fixed;
}
.container{
    background-color: #ffffff;
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(0, 0, 0, 0.47) 0px 7px 29px 0px;
    border-radius: 20px;
    border: 1px solid #000;

}

.form-group{
    margin-bottom:30px;
}